* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.calc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 17rem;
}
.container {
  padding-bottom: 0.5rem;
}
.numberpad {
  display: inline-flex;
  flex-flow: row wrap;
  width: 12rem;
}

.operator {
  display: inline-flex;
  flex-flow: row wrap;
  width: 4rem;
}

.operator button {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
}

.input-value {
  width: inherit;
  height: 5rem;
}

.input-value h2 {
  border: 1px solid gray;
  height: 4rem;
  line-height: 4rem;
  vertical-align: middle;
  text-align: right;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input-value h2::-webkit-scrollbar {
  height: 5px;
  background-color: gray;
}
.input-value h2::-webkit-scrollbar-thumb {
  background-color: #2f3542;
}
.input-value h2::-webkit-scrollbar-track {
  background-color: grey;
}
.btn-calculate {
  border: 1px solid gray;
}
.btn-calculate:focus {
  border: 1px solid gray;
  outline: none;
}
